@page "/"

<PageTitle>Home</PageTitle>

<div class="Forside">
    <h1>Vintage Sales</h1>
    <img src="https://vinokilo.events/cdn/shop/collections/eafbdecb-a2f2-437c-9fc1-e9543a5a9275_f0021d91-1004-4cc0-a5e8-b441d8eaff49.jpg?v=1703148950" width="800" height="800" alt="Vintage Clothing">
</div>

<section class="hero-section">
    <h1>Category</h1>
    <div class="card-container">
        <div class="card">
            <div class="card-background" style="background-image: url('https://images.squarespace-cdn.com/content/v1/6435747abcc5c74ade6a0d12/a1e97397-da23-4fc9-a19a-81767009c0c9/2023_05_15_EskerChairScene6_Camera_4_0090.jpg');"></div>
            <div class="content">
                <h3 class="card-heading">Bolig</h3>
            </div>
        </div>

        <div class="card">
            <div class="card-background" style="background-image: url('https://9b16f79ca967fd0708d1-2713572fef44aa49ec323e813b06d2d9.ssl.cf2.rackcdn.com/1140x_a10-7_cTC/Unisex-denim-by-H-M-1568836703.jpg');"></div>
            <div class="content">
                <h3 class="card-heading">Clothes</h3>
            </div>
        </div>

        <div class="card">
            <div class="card-background" style="background-image: url('https://www.apple.com/newsroom/images/2024/09/apple-debuts-iphone-16-pro-and-iphone-16-pro-max/article/Apple-iPhone-16-Pro-hero-geo-240909_inline.jpg.large.jpg');"></div>
            <div class="content">
                <h3 class="card-heading">Elektronik</h3>
            </div>
        </div>
    </div>
</section>