@page "/Marked"
@using Core
@using MiniProjekt.Service
@inject NavigationManager navMan
@inject ILoginService loginService


<h3>Marked</h3>

<button class="btn-primary" @onclick="NavigateToMineAnnoncer">Mine Annoncer</button>
<button class="btn-primary" @onclick="NavigateToMineBuys">Mine køb</button>

@code {
    
    
    
    private void NavigateToMineAnnoncer()
    {
        navMan.NavigateTo("mineannoncer");
    }
    
    private void NavigateToMineBuys()
    {
        navMan.NavigateTo("minebuys");
    }
    
    protected override async Task OnInitializedAsync()
    {
        var loggedIn = await loginService.GetUserLoggedIn();
        if (loggedIn is null)
            navMan.NavigateTo("/LoginPage/Marked");
    }

}